@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Playfair+Display:wght@700;900&display=swap');

:root {
  --background-color: #53f3db;
  --title-color: #1d665c;
  --subtitle-color: #11453e;
  --text: #061815;
}

.titulo {
  font-family: "Playfair Display", serif;
  font-size: 108px;
  font-style: normal;
  font-weight: 900;
  line-height: 116px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--title-color)
}

.subtitulo {
  font-family: "Playfair Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--subtitle-color)


}
.nuestros-productos{
  padding-top: 158px;
  padding-left: 137px;      
}
  
.texto {
  font-family: 'Lato';
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text)
}
#productos{
  padding-bottom:80px;
}
#productos article p.texto {
  max-width: 537px;
  padding-left:135px;
  padding-top: 34px;

}

.wrappper-productos{
  display:flex;
}

.wrappper-productos img{
  padding-right:218px;
}

.texto-resaltado{
    font-family: 'Lato';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:  var(--subtitle-color);
}

#productos table{
  background:white;
}

tr td:not(:first-child){
  border-left:1px solid  lightgrey;
  border-right:1px solid lightgrey;
}

}

th.titulo-card{
  width: 228px;
}

#productos table td{
  height: 62px;
}



section{
    height: auto;
    min-height: 50vh;
    flex-direction: row-reverse;
    align-items: center;
}

.odd{
    background-color: var(--background-color);
    flex-direction: row;
}

header{
  background-color: var(--background-color);
}

nav li a{
  margin-right: 10px
}
/* 
table{
  transform: rotate(90deg);
} */
/* 
table, td{
  position: relative;
}

table td::after{
  content: "";
  position: absolute;
  height: inherit;
  width: 2px;
  background-color: black;
  right: 0;
  top: 0;
  filter: blur(2px);
} */

td{
  border: none!important;
}

tr{
  box-shadow: 2px 2px 0 0 black;
  position: relative;
}

.gris{
  background-color: gray;
  opacity: .5
  ;
}