body{
    background-color: red;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Playfair+Display:wght@700;900&display=swap');

:root {
  --background-color: #53f3db;
  --title-color: #1d665c;
  --subtitle-color: #11453e;
  --text: #061815;
}

.titulo {
  font-family: "Playfair Display", serif;
  font-size: 108px;
  font-style: normal;
  font-weight: 900;
  line-height: 116px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--title-color)
}

.subtitulo {
  font-family: "Playfair Display";
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--subtitle-color)


}
.nuestros-productos{
  padding-top: 158px;
  padding-left: 137px;      
}
  
.texto {
  font-family: 'Lato';
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text)
}
#productos{
  padding-bottom:80px;
  display:flex;
  flex-direction:column;
  align-items: center;
}
#productos article p.texto {
  max-width: 537px;
  padding-left:135px;
  padding-top: 34px;

}

.wrappper-productos{
  display:flex;
}

.wrappper-productos img{
  padding-right:218px;
}

.texto-resaltado{
    font-family: 'Lato';
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:  var(--subtitle-color);
}

#productos table{
  background:white;
  width: 90%;
}
td{
  padding:0px 20px;
}

table{
  position:relative;
  overflow: hidden;
}

td{
  padding: 12px 20px;
}

tr, td{
  position: relative;
 
}
.titulo-card{
  text-align: center;
  padding-top:10px;
}

.titulo-card img{
  display: inline;
  padding-top: 20px;
}


td::before {
    content: '';
    width: 100%;
    position: absolute;
    height: 112%;
    left: -2px;
    box-shadow: 3px 0px 6px -4px rgba( 0, 0, 0, 0.3 );
    top:0px;
    bottom: 0px;
}


/*se aplica al ultimo row de la tabla*/
 tbody > tr:nth-child(7) > td:nth-child(1){
   padding-bottom: 35px;
 }






  

th.titulo-card{
  width: 228px;
}


tr th::after{
  content: '';
  width: 100%;
  position: absolute;
  height: 112%;
  left: -2px;
  box-shadow: 3px 0px 6px -4px rgba( 0, 0, 0, 0.3 );
  top:0px;
  bottom: 0px;
}



section{
    height: auto;
    min-height: 50vh;
}

.odd{
    background-color: var(--background-color)
}



tbody tr:nth-child(odd) {
  background: #E8E8E8;
}