@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,700&family=Playfair+Display:wght@700;900&display=swap");
:root {
  --background-color: #53f3db;
  --background-tilt: #49dbc5;
  --title-color: #1d665c;
  --subtitle-color: #11453e;
  --text: #061815;
  --margin: 10px;
  --shadow-normal: 0 5px 2px 3px #00000013;
  --title-font: "Playfair Display";
  --text-font: "Lato";
  --color-scheme: 180deg;
  --saturation: 1; }

*,
html,
body {
  scroll-behavior: smooth;
  position: relative; 
}

#body {
  filter: hue-rotate(var(--color-scheme)) saturate(var(--saturation)); }

  h3{
    font-size: 32px;
  }

.titulo {
  font-family: var(--title-font), serif;
  font-size: 108px;
  font-style: normal;
  font-weight: 900;
  line-height: 116px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--title-color); }

.subtitulo {
  font-family: var(--title-font);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--subtitle-color); }

article {
  max-width: 600px; }

.odd {
  flex-direction: row-reverse; }

.contained {
  max-width: 900px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  align-items: flex-start; }

.texto {
  font-family: var(--text-font);
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--text);
  margin-top: 50px; }

.texto-resaltado {
  font-family: "Lato";
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--subtitle-color); }

.menu-button {
  display: none !important;
  position: absolute;
  top: 0;
  right: 30px; }
  .menu-button:focus {
    outline: none; }

.header {
  background-color: var(--background-color);
  position: relative;
  display: flex;
  z-index: 100; }
  @media (max-width: 850px) {
    .header {
      position: fixed; }
      .header .menu-button {
        display: block !important; }
      .header nav {
        position: absolute;
        display: none;
        left: 0;
        top: 62px;
        background-color: red;
        height: calc(100vh - 200px);
        z-index: 200;
        width: 100vw;
        justify-content: center;
        display: flex;
        align-items: center; } }

.visto {
  display: flex !important; }

.header-link {
  color: var(--text);
  font-size: 0.9rem;
  font-family: var(--text-font); }


  /*Productos */

#productos table {
  background: white; }


tr td:not(:first-child) {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey; }
/* acomodar el padding para el ultimo header title ya que tiene 3 renglones de texto*/
/* table tr:first-child th:last-child img {
  padding-top: 20px;
}  */ 

#productos {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*se aplica al ultimo row de la tabla*/ 


  table {
    position: relative;
    overflow: hidden;
    max-width: 80vw;
    border-radius: 15px;

    th.titulo-card {
      width: 228px;
      text-align: center;

      img {
        display: inline;
        padding-top: 15px;
        height: 140px;
        
      }

      /*acomoda las imagenes y el texto de la ultima card header*/
      &:last-child img {
        padding-top: 25px;
      }
      
    }


    td {
      padding: 12px 20px; 
      font-size: 14px; 
    }

    tr td:not(:first-child)::before {
      content: "";
      width: 1.5%;
      position: absolute;
      height: 102%;
      left: -2px;
      background-color: #00000012;
      /* box-shadow: 3px 0px 7px -7px rgb(6 5 5); */
      top: 0px;
      bottom: 0px;
      
    }
          

}


  



  #productos 

    #productos tr th:not(:first-child)::after {
      content: "";
      width: 1%;
      position: absolute;
      height: 102%;
      left: -2px;
      background-color: #08070713;
      
      top: 0px;
      bottom: 0px; }
    #productos tr th::after nav li a::after {
/*       position: absolute;
      content: "";
      height: 1px;
      width: 0%;
      left: 50%;
      bottom: -6px;
      background-color: var(--background-tilt);
      transition: all 200ms; 
   */ } 

   table tr th{
     background-color: white;
   }

   table tr:first-child th:first-child{
    text-align: left;
    padding-left: 31px;
    font-size: 36px;
    color: var(--title-color);
   }

section {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center; }

nav li a {
  margin-right: 10px;
  position: relative;
  transition: all 200ms; }
  nav li a::after {
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    bottom: -5px;
    background-color: var(--title-color);
    left: 50%;
    transition: all 200ms; }
  nav li a:hover {
    color: var(--title-color); }

nav li a:hover::after {
  width: 100%;
  left: 0%; }

section:nth-of-type(odd) {
  background-color: var(--background-color); }

/* 
table{
  transform: rotate(90deg);
} */
/* 
table, td{
  position: relative;
}

table td::after{
  content: "";
  position: absolute;
  height: inherit;
  width: 2px;
  background-color: black;
  right: 0;
  top: 0;
  filter: blur(2px);
} */
td {
  border: none !important; }

/* tr{
  box-shadow: 2px 2px 0 0 black;
  position: relative;
} */
.gris {
  background-color: gray;
  opacity: 0.5; }

.gallery {
  display: flex;
  align-items: stretch; }

.quien-card {
  background: white;
  border-radius: 6px;
  padding: calc(var(--margin) * 2);
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 2px 1px #00000025;
  transform: translateY(0px);
  transition: all 200ms; }

.quien-card:hover {
  box-shadow: var(--shadow-normal);
  transform: translateY(-2px); }

.card-avatar {
  border-radius: 50%;
  width: auto; }

.card-nombre {
  margin-top: calc(var(--margin) * 2);
  color: var(--text);
  font-family: "Lato";
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left; }

.card-titulo {
  margin-top: var(--margin);
  color: var(--subtitle-color);
  font-family: "Lato";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left; }

.card-texto {
  margin-top: var(--margin);
  font-family: "Lato";
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left; }

.card-social {
  margin-top: var(--margin);
  width: 30px;
  justify-self: end; }

.icon-container {
  display: flex;
  align-items: flex-end;
  height: -webkit-fill-available; }

.button {
  padding: 8px 16px;
  margin-top: calc(var(--margin) * 2);
  border-radius: 4px;
  transform: translateY(0px);
  transition: all 200ms;
  font-weight: bold; }

.button:hover {
  box-shadow: var(--shadow-normal);
  transform: translateY(-2px); }

.button-odd {
  color: var(--subtitle-color);
  box-shadow: 0 0 2px 1px #00000025;
  background-color: white; }

section {
  height: auto;
  min-height: 50vh; }

.odd {
  background-color: var(--background-color); }

tbody tr:nth-child(odd) {
  background: #e8e8e8; }

.button-even {
  color: white;
  box-shadow: 0 0 2px 1px #00000025;
  background-color: var(--background-tilt); }

.text-field {
  border: 1px solid var(--background-tilt);
  display: block;
  margin-top: var(--margin);
  width: 300px;
  padding: 7px 13px;
  border-radius: 6px; }
  .text-field:focus {
    outline: none;
    border: 2px solid var(--background-tilt);
    box-shadow: 0 0 3px 1px var(--background-color); }
  .text-field::placeholder {
    color: var(--subtitle-color); }

.footer {
  background-color: var(--title-color);
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  padding: 20px; }
  .footer img {
    filter: invert(1); }
  .footer ul {
    display: block; }
    .footer ul li a {
      color: white; }
